<html>
	<head>
		<title> #{title} </title>
		style
			include ../static/style.css
			include ../static/utils.css
			include ../static/responsive.css
	</head>
  
<body>
	<header class="head">
		<nav class="navBar flex">
			<ul class="flex ">
				<li><img src="../static/logo.png" class="logo"></li>
			</ul>		
			<div class="left-block flex">
				
				
				<ul class="flex navItems">
					<li><a href="/">Home</a></li>
					<li><a href="/about"> About </a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/shopCounterPage"> Cart </a></li>
					<li><a href='/shopCounterPage'> Counter </a></li>
				
				</ul>
			</div>
		  
		</nav>	
		
		
	</header>
	
	<div class="content">
		<div class="abt_page">
			<h1> Contact us </h1>
			<div> This is a Sample Website. </div>
		</div>

			

	</div>

	script
		include ../static/script.js
		
		
</body>
</html>