<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Buykaro.com </title>
		style
			include ../static/style.css
			include ../static/Utils.css
			include ../static/responsive.css
			
	</head>
  
<body>
	<header class="head">
		<nav class="navbar flex">
			<ul class="flex ">
				<li>
					<img src="../buy karo.png" class="logo">
				</li>
			</ul>		
			<div class="left-block flex">
				
				
				<ul class="flex navItems">
					<li><a href="/">Home</a></li>
					<li><a href="/about"> About </a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/shopCounterPage"> Cart </a></li>
					<li><a href='/shopCounterPage'> Counter </a></li>
				
				</ul>
			</div>
		  
		</nav>	
		
		
	</header>
	
	<div class="content">
		
		<div class="cart-Item " id='0' >
			<a href="/shopPage" class="a ">
				<img src="" >	
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem"></span>
				<span class="price"></span>
			</span>
		</div>
		
		<div class="cart-Item block" id='1' >
			
			<a href="/shopPage-2" class="a">
				<img src="" >
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem "></span>
				<span class="price "></span>
			</span>	
		</div>
		
		<div class="cart-Item " id='2'>
			<a href="/shopPage-3" class="a">
				<img src="" >
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem "></span>
				<span class="price "></span>
			</span>	
		</div>
		
		<div class="cart-Item " id='3'>
			<a href="/shopPage-4" class="a">
				<img src="" >
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem "></span>
				<span class="price "></span>	
			</span>
		</div>
		
		<div class="cart-Item " id='4'>
			<a href="/shopPage-5" class="a">
				<img src="" >
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem "></span>
				<span class="price "></span>	
			</span>
		</div>
		
		
		<div class="cart-Item " id='5'>
			<a href="/shopPage-6" class="a">
				<img src="" >
			</a>
			<span class="DataBox pos_1 Bold">
				<span class="NameItem "></span>
				<span class="price "></span>			
			</span>
		</div>
		

		<div class="shop-Item " id="shop-Item">
			<img src="" id="img">
			<div class="NameItem" id="NameItem"></div>
			<div class="price" id="price"></div>
		</div>
			

	</div>
		

	script
		include ../static/script.js
</body>
</html>

