<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> #{title} </title>
		style
			include ../static/style.css
			include ../static/Utils.css
			include ../static/responsive.css
	</head>
  
<body>
	<header class="head">
		<nav class="navbar flex">
			<ul class="flex ">
				<li>
					<img src="./buy karo.png" class="logo">
				</li>
			</ul>		
			<div class="left-block flex">
				
				
				<ul class="flex navItems">
					<li><a href="/">Home</a></li>
					<li><a href="/about"> About </a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/shopCounterPage"> Cart </a></li>
					<li><a href='/shopCounterPage'> Counter </a></li>
				
				</ul>
			</div>
		  
		</nav>	
		
		
	</header>
	
	<div class="content_2">
		<h3> Total-Orders:<span id="i" >  #{objects} </span> </h3>	
		
		<div class="Items_display_part flex" id="Items_display_part" > 
			<div class="Items_box flex">

			</div>

			
		</div>

	</div>
	#{divs}
	#{content}

	script
		include ../static/DataBasePage.js
		include ../static/script.js
		
		
</body>
</html>