<html>
	<head>
		<title>  Buykaro.com </title>
		style
			include ../static/style.css
			include ../static/Utils.css
			include ../static/responsive.css
			
	</head>
  
<body>
	<header class="head">
		<nav class="navBar flex">
			<ul class="flex ">
				<li><img src="../static/logo.png" class="logo"></li>
			</ul>		
			<div class="left-block flex">
				
				
				<ul class="flex navItems">
					<li><a href="/">Home</a></li>
					<li><a href="/about"> About </a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/shopCounterPage"> Cart </a></li>
					<li><a href='/shopCounterPage'> Counter </a></li>
				
				</ul>
			</div>
		  
		</nav>	
		
		
	</header>
	
	<div class="content">
		
		<div class="shop-Item flex" id="4">
			<img src="" id="img4">
			<div class="shop_item_info">  
				<div class="NameItem" id="NameItem4"></div>
				<div class="priceItem" id="price4"></div>		
			</div>

		</div>
		
		<div class="FormPart">
		<form action="/shopPage" method="post" class="buyForm flex" id="4">
			<h2> Make an Order </h2>
			<div class="formNameItem" id="1"></div>
			<input type="text" name="quantity" class="myInput" placeholder="Enter Quantity">
			<input type="text" name="CityName" class="myInput" placeholder="Enter Town/City">
			<input type="text" name="address" class="myInput" placeholder="Enter address">
			<input type="text" name="PhoneNumber" class="myInput" placeholder="Enter Phone-Number">
			<button class="btn">Order</button>
			
		</form>
		</div>
		
	</div>
	

	<script src="index.js"></script>
	<script src="script.js"></script>
	script
		include ../static/script.js
</body>
</html>